<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    img{
      width: 220px;
      height: 150px;
      
      float: left;
    }
    p{
      margin: 20px;
      padding: 20px;
    }

    .left{
      float: left;
      width: 100px;
      height: 100px;
      background-color: gray;
    }

    .right{
      float: right;
      background-color: orange;
    }

    .clear{
      clear: right;
    }

  </style>
  <title>Document</title>
</head>
<body>
  <img src="../../a_html/images/dog01.jpg" alt="강아지">
  <p>
    한국 여자 양궁이 올림픽 단체전 10연패의 위업을 달성했다.

  임시현(한국체대), 남수현(순천시청), 전훈영(인천시청)으로  이뤄진 한국 대표팀은 29일(한국시간) 프랑스 파리의 레쟁발리드에서 열린 2024 파리 올림픽 양궁 여자 단체전 결승전에서 안치쉬안, 리자만, 양샤오레이로 팀을 꾸린 중국을 슛오프 접전 끝에 5-4(56-53 55-54 51-54 53-55 <29-27>)로 물리쳤다. 한국 여자 양궁은 단체전이 처음 도입된 1988년 서울 올림픽 대회부터 2021년 도쿄 대회까지 단 한 번도 빼놓지 않고 이 종목에서 우승한 가운데, 이번 파리 올림픽에서 다시 한번 금메달을 차지하면서 10연패의 신화를 완성했다.

  앞서 네덜란드와의 준결승에서 슛오프 접전을 펼친 우리    대표팀은 이번 중국과의 결승전에서도 슛오프까지 가는 명승부를 펼쳤다. 1세트와 2세트를 비교적 여유있게 따내며 먼저 4점을 냈지만, 3세트와 4세트를 연이어 내주고 말았다. 마지막 슛오프에서 남수현이 9점을 쐈고 전훈영과 임시현의 화살은 9점과 10점 사이 라인에 걸쳤다. 중국이 27점을 기록한 가운데, 만약 라인에 걸친 한국의 화살 두 개가 모두 9점으로 인정된다면, 양샤오레이가 10점에 화살을 쏜 중국이 우승하는 상황이었다. 다행히 전훈영과 임시현의 화살 모두를 10점으로 인정하면서 한국의 우승이 확정됐다.
  </p>

  <hr />

  <div class="left">왼쪽에 뜨는 요소</div>
  <div class="right">오른쪽에 뜨는 요소</div>
  <div class="cleat">float 해제</div>

</body>
</html>